<!-- commandReport.html -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Command Report</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" th:href="@{/}">ArtWood</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarProduits"
            aria-controls="navbarProduits" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarProduits">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
            </li>
            <!-- Add Produit -->
            <li class="nav-item">
                <a class="nav-link" th:href="@{/commandes/add}">Add Commande</a>
            </li>
            <!-- Show Produits -->
            <li class="nav-item">
                <a class="nav-link" th:href="@{/commandes/}">Show Commande</a>
            </li>
            <!-- Logout -->
            <li class="nav-item">
                <a class="nav-link" th:href="@{/rapport}">rapport</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container mt-3">
    <h2>Command Report</h2>
    <h3>Most Added Articles to Commandes</h3>

    <ul th:if="${mostAddedArticles != null}">
        <li th:each="article : ${mostAddedArticles}" th:text="${article.name}"></li>
    </ul>
    <table class="table">
        <thead>
        <tr>
            <th>Command ID</th>
            <th>Client</th>
            <th>Date</th>
            <!-- Add more columns as needed -->
        </tr>
        </thead>
        <tbody>
        <tr th:each="commande : ${commandes}">
            <td th:text="${commande.idOrder}"></td>
            <td th:text="${commande.client.nameClient}"></td>
            <td th:text="${commande.dateOrder}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>